* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: system-ui;
}

.body {
    font-family: 'Epilogue', sans-serif;
    font-size: 62.3%;
    background-color: var(--almostWhite);
    font-weight: bold;
}

.container {
    max-width: 1440px;
    margin: 0 auto;
}


:root {
    --almostWhite: hsl(0, 0%, 96%);
    --mediumGray: hsl(0, 0%, 41%);
    --almosBlack: hsl(0, 0%, 8%);
}

h1 {
    color: var(--almosBlack);
    font-weight: 700;
    font-size: 1.8rem;
    padding-left: 2rem;
    padding-right: 2.8rem;
}


nav {
    display: flex;
    justify-content: space-between;
    color: var(--mediumGray);

    font-size: 1rem;
}

.nav-header {
    display: flex;
    justify-content: center;
    align-items: center;
    transform: translateY(6px);
}


.navbar-left-ul {
    font-family: 'Epilogue';
    font-weight: 500;
    margin-top: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navbar-right {
    font-family: 'Epilogue';
    font-weight: 500;
    display: flex;
    align-items: center;
    padding-right: 2rem;
}

.button-style {
    font-family: 'Epilogue';
    font-weight: 500;
    border: 2px solid var(--mediumGray);
    padding-left: 1.2rem;
    padding-right: 1.2rem;
    padding-bottom: .4rem;
    padding-top: .3rem;
    border-radius: .8rem;
    text-align: center;
    transition: all .25s ease-in;
}

.learn {
    border: 1px solid var(--mediumGray);
    background-color: var(--almosBlack);
    color: var(--almostWhite);
    font-weight: 500;
    font-size: 1.1rem;
    padding-left: 2rem;
    padding-right: 2rem;
    padding-bottom: 1em;
    padding-top: 1rem;
    border-radius: .7rem;
    margin-left: 2rem;
    transition: all .2s ease-in;
}

.learn:hover {
    background-color: var(--almostWhite);
}

.button-style:hover {
    border-color: var(--almosBlack);
    color: var(--almosBlack);
}

a {
    text-decoration: none;
    color: var(--mediumGray)
}

a:hover{
    color: var(--almosBlack)
}

li {
    list-style-type: none;
    margin-left: 1.5rem;
}

.middle {
    display: flex;
    justify-content: space-between;
}

/* Image Hero */

.middle-picture{
    display: flex;

    height: 75vh;
    margin-top: 5rem;
    margin-right: 5rem;
    margin-left: 1rem;
}

/* Begin Remote Work */

.middle-text-area {
    padding-left: 9rem;
}

/* Make remote work*/

.middle-header {
    margin-top: 190px;
    font-size: 76px;
    font-weight: 700;
    line-height: 80px;
    white-space: initial;
}

p {
    color: var(--mediumGray);
    padding-top: 4rem;
    padding-bottom: 5rem;
    padding-left: 2rem;
    font-size: 18px;
    font-weight: 500;
    line-height: 1.5em; 
}

/* databiz*/

.middle-bottom-text {
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
    margin-top: 9rem;
    transform: translateX(15px);
}

.hamburger {
    display: none;
}

.mobile-picture {
    display: none;
}

.drop-down-features {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    background-color: white;
    box-shadow: 3px 3px 3px 5px rgb(235, 235, 235);
    border-radius: 5px;

    padding: .6rem 1.4rem .6rem 0;
    margin-top: 4.rem;
    max-width: fit-content;

    transform: translatex(7rem);
    position: fixed;
}

.features-li {
    padding-top: .4rem;
    padding-bottom: .4rem;
    padding-left: 0rem;
    transition: all .25s ease-in-out;
}

.drop-down-company {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    background-color: white;
    box-shadow: 3px 3px 3px 5px rgb(235, 235, 235);
    border-radius: 10px;

    padding: .6rem 1.4rem .6rem 0;
    margin-top: .4rem;
    max-width: fit-content;

    transform: translatex(16rem);
    position: fixed;
}

.company-li {
    margin-top: .8rem;
    margin-bottom: .4rem;
}

.hamburger-menu-container {
    display: flex;
    flex-direction: column;
    background-color: white;
    position: fixed;

    top: 0;
    right: 0;

    width: 300px;
    height: 100vh;
}

.closed {
    transform: translateX(100rem);
    transition: all .25s ease-in;
}

.close-menu {
    display: block;
    padding-top: 1rem;
    padding-right: 3.2rem;
    margin-left:auto;
}

.hamburger-nav {
    margin-top: 2rem;
}

.hamburger-li {
    margin-top: 1rem;
    margin-bottom: 1rem;
}

.hamburger-nav-login {
    margin-top: 1rem;
    margin-right: 8rem;
    text-align: center;
}

.hamburger-nav-login, li {
    margin-top: 1rem;
}

#background {
    background-color: rgba(0, 0, 0, 0.67);
    position: fixed;
    height: 100%;
    width: 300px;

    top: 0;
    right: 300px;
    bottom: 0;
}

.features-hamburger {
    padding-left: 1.5rem;
}

.company-hamburger {
    padding-left: 1.5rem;
}

.hide {
    display: none;
}